# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtualenv
venv/
.venv/

# Database
*.db
instance/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test / Coverage
.pytest_cache/
htmlcov/
.coverage
